/* 
    Created on : Jun 12, 2015, 3:56:48 PM
    Author     : Alex
*/

/*
 * Error page styles                              - Error page styles
 */


.tm-error-page{
    background: url(../images/404.jpg) no-repeat top left;
    background-size:cover;
    background-attachment: fixed;
}
.tm-error-wrap{
   .uk-container.uk-container-center{
       width:1200px;
   }
}
.tm-error-wrap h1{
    color:@global-contrast-color;
    font-size: 100px; // 100px
    line-height:1.3;
    text-align: left;
 }
.tm-error-head h4{
    color:@global-contrast-color;
    font-size:@base-h1-font-size + 4;
    text-transform:uppercase;
    text-align: left;
    line-height: 100%;
    padding: 25px 0;
    background-color: #393b3c;
    position:relative;
    &::before{
        content: "";
        width: 1000px;
        height: 100%;
        background-color: #393b3c;
        position: absolute;
        right: 100%;
        top: 0;
    }
}
.home-page-button{
        text-align: right;
    a{
        position:relative;
        z-index:2;
        background:none;
        width:60%;
        background: @global-primary-background;
        font-size: @base-h4-font-size;
        height:100%;
        border: 2px solid transparent;
        text-align: center;
        span{
            position: absolute;
            bottom: 50%;
            left: 0px;
            right: 0px;
            margin: auto;
            transform: translateY(50%);
        }
    }
}
.home-page-button a:hover{
    background: transparent;
    border-color: @global-contrast-color;
}

@media (max-width:767px){ 
    .tm-error-head h1{
      font-size:@base-h1-font-size * 1.5;
 }
 .tm-error-head h4{
    font-size:@base-h5-font-size;
    }
}
@media (max-width:479px){
    .tm-error-wrap h1{
      font-size:@base-h1-font-size; 
 }
 .tm-error-head h4{
    font-size:@base-h4-font-size - 2;
    }
    
}